.profile {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
    color: var(--DEFAULT);
}

.profile img {
    border-radius: 50%;
    width: 180px;
    height: 175px;
    border: 1px solid var(--BORDER);
}

.infos {
    margin-left: 1rem;
}

.infos h1 {
    font-size: 1.5rem;
    color: var(--DEFAULT);
}


.star {
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.star svg {
    color: yellow;
}

.star button {
    margin-left: .5rem;
    background: transparent;
    border: 1px solid var(--BORDER);
    border-radius: 5px;
    padding: .5rem;
    color: var(--DEFAULT);
    font-weight: bold;
    cursor: pointer;
}

.bio {
    margin-top: 2rem;
    border: 1px solid var(--BORDER);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
    box-sizing: border-box;
    color: var(--DEFAULT);
}

.bio p {
    word-wrap: break-word;
}