.profile {
    margin: 1.5rem 1.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    .profile {
        width: 50%;
        margin: 0 auto;
    }
}

.user {
    display: flex;
    align-items: center;
    color: var(--DEFAULT);
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 769px) { 
    .user {
        flex-direction: initial;
        text-align: initial;
    }
}

.profile img {
    border-radius: 50%;
    width: 180px;
    height: 175px;
    border: 1px solid var(--BORDER);
}

.infos {
    margin-top: 1rem;
}

@media screen and (min-width: 769px) {
    .infos {
        margin-left: 1rem;
    }
 }

.infos h1 {
    font-size: 1.5rem;
    color: var(--DEFAULT);
}


.star {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    justify-content: center;
}

@media screen and (min-width: 769px) { 
    .star {
        justify-content: initial;
    }
}

.star svg {
    color: yellow;
}

.star button {
    margin-left: .5rem;
    background: transparent;
    border: 1px solid var(--BORDER);
    border-radius: 5px;
    padding: .5rem;
    color: var(--DEFAULT);
    font-weight: bold;
    cursor: pointer;
}

.bio {
    margin-top: 2rem;
    border: 1px solid var(--BORDER);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
    box-sizing: border-box;
    color: var(--DEFAULT);
}

.bio p {
    word-wrap: break-word;
}