.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    background: var(--LINEAR-LOGO);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-left: .5rem;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--DEFAULT);
    transition: .5s;
}

.navbar ul li svg {
    font-size: 1.2rem;
    color: var(--DEFAULT);
}

.navbar ul li a:hover {
    font-size: 1.1rem;
}