.profilesContainer {
    padding: 0 1.5rem;
    margin-top: 1rem;
    box-sizing: border-box;
}

.profilesContainer h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--DEFAULT);
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    gap: .5rem;
    width: 100%;
}

.profileItem {
    display: flex;
    align-items: center;
    border: 1px solid var(--BORDER);
    border-radius: 5px;
    padding: 1rem 2rem;
    width: 100%;
    transition: .5s;
    position: relative;
}

@media screen and (min-width: 769px) {

   .profileItem {
    width: 302px;
   }

}

.profileItem:hover {
    background-color: var(--HOVER);
}

.profileItem img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profileItem p {
    color: var(--DEFAULT);
}

.profileItem h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--DEFAULT);
    margin-bottom: .5rem;
}

.profileItem a {
    text-decoration: none;
    color: var(--LINK);
}

.profileItem div {
    margin-left: 1rem;
}

.starOn {
    color: yellow;
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s;
    border: 1px solid var(--BORDER);
    border-radius: 50%;
    padding: .3rem;
}

.starOff {
    color: yellow;
    position: absolute;
    top: 5%;
    right: 2%;
    font-size: 1rem;
    cursor: pointer;
    opacity: .6;
    transition: .5s;
    border: 1px solid var(--BORDER);
    border-radius: 50%;
    padding: .3rem;
}

.starOff:hover {
    opacity: 1;
    font-size: 1.5rem;
}